h1 {
  color: green;
  }
h1 {
  font-family: arial;
  }

h3 {
  color: yellow;
}
h2 {
  background-color: gray;
}
h3 {
  font-size: 28px;
}

p {
  font-size: 21px;
}

body {
background-color:limegreen
}


